@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");

.section1 {
  background-image: url("/images/main_bg.jpg");
  background-size: cover;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  * {
    margin: 0;
    padding: 0;
  }
  color: #fff;
  height: calc(100vh - 120px);
  .section1_top {
    font-size: 3.5rem;
    font-family: "Noto Serif KR", serif;
    margin-bottom: 7rem;
  }
  .section1_bottom {
    display: flex;
    gap: 14rem;
    text-align: center;
    > div {
      position: relative;
      ::after {
        position: absolute;
        right: -100%;
        top: 25%;
        width: 1px;
        height: 5rem;
        background: #fff;
        content: "";
      }
    }
    > div:last-child {
      ::after {
        display: none;
      }
    }
    padding-bottom: 10rem;
  }
  .mause {
    position: relative;
    height: 32px;
    width: 17px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    top: 170px;
  }

  .wheel {
    -webkit-animation: mouse-wheel 1.4s linear infinite;
    -moz-animation: mouse-wheel 1.4s linear infinite;
    animation: mouse-wheel 1.4s linear infinite;
    height: 1px;
    width: 1px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    border: 2px solid #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
  }
}
